@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 0%;
  --card: 0 0% 95%;
  --card-foreground: 0 0% 5%;
  --primary: 220 80% 50%;
  --primary-foreground: 0 0% 100%;
  --radius: 8px;
  
}
button {
  @apply rounded-lg border border-transparent px-4 py-2;
}

@import '@aws-amplify/ui-react/styles.css';

[data-amplify-authenticator] {
  --amplify-components-button-primary-background-color: #000000;
  --amplify-components-button-primary-hover-background-color: #333333;
  --amplify-components-button-primary-color: #FFFFFF;
  --amplify-components-button-primary-hover-color: #FFFFFF;
  --amplify-components-tabs-item-active-color: #000000;
  --amplify-components-tabs-item-active-border-color: #000000;
  --amplify-components-tabs-item-color: #666666;
  --amplify-components-tabs-item-hover-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensures it's centered vertically on the page */
}

/* Target all relevant containers */
[data-amplify-router] {
   border: none !important;
   box-shadow: none !important;
   background-color: transparent !important;
}

.amplify-authenticator {
  margin: auto; /* Centers the form horizontally */
}

.amplify-button[data-variation='link'] {
  color: #000000;
}